<?xml version="1.0"?>
<configuration>
  <system.web>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
    <staticContent>
      <remove fileExtension=".shader" />
      <mimeMap fileExtension=".shader" mimeType="application/octet-stream" />
    </staticContent>

  </system.webServer>
</configuration>
